.sider {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: auto;
    scrollbar-width: thin;
    border-right: 1px solid #e0e0e0;
}

.content {
    min-height: 100vh;
    padding: 60px 40px;
}
