# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# -------------------- Environment

.env.development.local
.env.local
.env.production.local
.env.test.local

# -------------------- Editor and IDE

.idea
.vscode

# -------------------- Dependency

.pnp
.pnp.js
node_modules

# -------------------- Compilation Outputs & Test

*.tsbuildinfo

/configs/*/dist
/packages/*/coverage
/packages/*/lib
/projects/*/coverage
/projects/*/dist
/projects/*/lib
/projects/*/release

# -------------------- Other Program

## draw.io

*.bkp
*.dtmp

# -------------------- Miscellaneous

.DS_Store

.eslintcache
.stylelintcache

debug.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
