# Environment

.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local

# Editors and IDEs

.vscode

# Dependencies

.pnp
.pnp.js
node_modules

# Compilation

*.tsbuildinfo

build
release

dist

lib
lib-commonjs

/scripts/**/*.js
/scripts/**/*.map
/**/packages/*/scripts/**/*.js
/**/packages/*/scripts/**/*.map
/**/projects/*/scripts/**/*.js
/**/projects/*/scripts/**/*.map

# After Running or Testing

coverage

# Misc

.eslintcache

debug.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
