.root {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    padding: 72px 0 96px;
    background: #fff;
}

.title {
    font-size: 32px;
    font-weight: 500;
}
