.overview {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin: 20vh;
}

.entry {
    justify-self: center;
    width: 192px;
    height: 64px;
}
