.overview {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    max-width: 1200px;
}

.card {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card:hover {
    box-shadow: 0 12px 24px rgb(0 0 0 / 12%);
    transform: translateY(-4px);
}

.label {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(0 0 0 / 88%);
}

.description {
    font-size: 14px;
    line-height: 1.57;
    color: rgb(0 0 0 / 65%);
}
