.root {
    display: flex;
    flex-direction: row;
}

.display {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 60vw;
    padding: 16px;
    border-right: 1px solid #eee;
}

.selector {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.select {
    min-width: 120px;
}

.controller {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
}

.button {
    width: 100px;
    padding: 4px 6px;
    margin-right: 0;
}

.test {
    display: grid;
    width: 40vw;
    height: 100vh;
    padding: 16px;
}
