.sider {
    background: #fbfbfb;
}

.siderMenu {
    height: 100%;
    background: #fbfbfb;
}

.pageContainer {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
