.layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.title {
    font-size: 32px;
    font-weight: 500;
}
