.sider {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    overflow: auto;
    border-right: 1px solid #e0e0e0;

    &:global(.ant-layout-sider) {
        position: fixed;
    }
}

.content-container {
    margin-left: 192px;
}

.content {
    min-height: 100vh;
}
