.item_delete {
    color: #666;
}

.item_delete-hidden {
    width: 32px;
}

.item_container {
    display: flex;

    > :global(.ant-space-item):first-child {
        flex: auto;

        /* By default `min-width` is `auto`, which may cause list item to exceed the allowed width. */
        min-width: 0;
    }
}
