.root {
    display: flex;
    flex-direction: row;
    gap: 16px;
    min-width: 150px;
    min-height: 200px;
    padding: 16px;
    border: 1px solid #c0c0c0;
    border-radius: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.name {
    font-weight: 500;
}
