.required::before {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 4px;
    font-family: SimSun, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #ff4d4f;
    content: '*';
}
