div.carousel-container {
}
div.carousel-container > * {
    display: inline-block;
    vertical-align: middle;
}
div.carousel-container > button {
    color: transparent;
    border: 0px;
    background: transparent url(./carousel-left.png);
    height: 28px;
    width: 17px;
}
div.carousel-container > button:last-of-type {
    background-image: url(./carousel-right.png);
}

figure.carousel {
    height: 256px;
    width: 256px;
    overflow: hidden;
}
figure.carousel ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 1000%;
}

figure.carousel ul li {
    display: inline-block;
}
