.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 700px;
}

.title {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.35;
    color: rgb(0 0 0 / 88%);
}

.subtitle {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(0 0 0 / 65%);
}
